<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.firstName}} {{this.lastName}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}Admin{{else}}User{{/if}}</td>
      <td>
        {{#unless this.isAdmin}}
        <a href="/admin/users/promote/{{this._id}}" class="button is-small is-warning">
          Promote to Admin
        </a>
        {{/unless}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
